<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Moderator</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo-link">
            <img class="logo" src="https://www.test-english.com/img/logo-test-english.svg" alt="">
        </a>

        <div class="skill-options">
            <div class="skill-option">
                <div class="option-icon">
                    <i class="fa-solid fa-gear"></i>
                </div>
                <span class="option-label">Grammar</span>
                <ul class="dropdown-option">
                    <li class="dropdown-option-item">
                        <span>A1 - Elementary</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>A2 - Pre-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1 - Intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1+ - Upper-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B2 - Pre-advanced</span>
                    </li>
                </ul>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="skill-option">
                <div class="option-icon">
                    <i class="fa-solid fa-headphones-simple"></i>
                </div>
                <span class="option-label">Listening</span>
                <ul class="dropdown-option">
                    <li class="dropdown-option-item">
                        <span>A1 - Elementary</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>A2 - Pre-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1 - Intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1+ - Upper-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B2 - Pre-advanced</span>
                    </li>
                </ul>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="skill-option">
                <div class="option-icon">
                    <i class="fa-solid fa-newspaper"></i>
                </div>
                <span class="option-label">Reading</span>
                <ul class="dropdown-option">
                    <li class="dropdown-option-item">
                        <span>A1 - Elementary</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>A2 - Pre-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1 - Intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1+ - Upper-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B2 - Pre-advanced</span>
                    </li>
                </ul>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="skill-option">
                <div class="option-icon">
                    <i class="fa-solid fa-clipboard-check"></i>
                </div>
                <span class="option-label">Use of English</span>
                <ul class="dropdown-option">
                    <li class="dropdown-option-item">
                        <span>A1 - Elementary</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>A2 - Pre-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1 - Intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1+ - Upper-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B2 - Pre-advanced</span>
                    </li>
                </ul>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="skill-option">
                <div class="option-icon">
                    <i class="fa-solid fa-pen-nib"></i>
                </div>
                <span class="option-label">Writing</span>
                <ul class="dropdown-option">
                    <li class="dropdown-option-item">
                        <span>A1 - Elementary</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>A2 - Pre-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1 - Intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B1+ - Upper-intermediate</span>
                    </li>
                    <li class="dropdown-option-item">
                        <span>B2 - Pre-advanced</span>
                    </li>
                </ul>
                <i class="fa-solid fa-caret-down"></i>
            </div>
        </div>

        <div class="search">
            <input class="search-input" placeholder="Find a test"/>
            <div class="search-logo">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </header>

    <div class="body">
        <div class="body-1">
            <h1 class="label">Prepare for your English exam</h1>
            <p class="desciption">
                On test-english.com you will find lots of free practice tests and materials to help you improve your English skills and be more prepared for your English exam: <b>KEY (KET), PET, FCE, IELTS, TOEIC® and TOEFL iBT™</b>. If you don't know your level, you can start by taking a Level Test.
            </p>
            <button class="btn">
                <div class="btn-title">
                    TAKE A LEVEL TEST
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
            </button>
        </div>
    
        <div class="line"></div>
    
        <div class="body-2">
            <h1 class="label" style="padding-bottom: 20px;">What would you like to practise today?</h1>
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column">
                        <div class="grid__row">
    
                            <div class="grid__column-3-3">
                                <div class="card">
                                    <img class="image" src="https://www.test-english.com/img/test-english-home-Grammar-points.jpg" alt="">
                                    <h1 class="test-label">Grammar point</h1>
                                    <div class="test-desciption">Study the grammar lessons that are typically included in each level: A1, A2, B1, B1+, B2. There are three or more exercises and an explanation in each lesson. And you will find feedback for every question!</div>
                                    <button class="btn" style="margin: 10px 20px;">
                                        <div class="btn-title">
                                            GO TO THE LESSONS
                                        </div>
                                    </button>
                                </div>
                            </div>
    
                            <div class="grid__column-3-3">
                                <div class="card">
                                    <img class="image" src="https://www.test-english.com/img/test-english-home-Listening.jpg" alt="">
                                    <h1 class="test-label">Listening tests</h1>
                                    <div class="test-desciption">Improve your listening skills by practicing with audio and video tests. There are tests for each level: A1, A2, B1, B1+, B2. You will be able to see the transcription of the audio after you submit your answers.</div>
                                    <button class="btn" style="margin: 10px 20px;">
                                        <div class="btn-title">
                                            TAKE A TEST
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <div class="grid__column-3-3">
                                <div class="card">
                                    <img class="image" src="https://www.test-english.com/img/test-english-home-Reading.jpg" alt="">
                                    <h1 class="test-label">Reading tests</h1>
                                    <div class="test-desciption">Need to improve your reading skills? Work on our reading tests. There are reading tests for A1, A2, B1, B1+ and B2. You will find different types of texts and there are different types of questions in each test.</div>
                                    <button class="btn" style="margin: 10px 20px;">
                                        <div class="btn-title">
                                            TAKE A TEST
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <div class="grid__column-3-3">
                                <div class="card">
                                    <img class="image" src="https://www.test-english.com/img/test-english-home-Use-of-english.jpg" alt="">
                                    <h1 class="test-label">Use of English</h1>
                                    <div class="test-desciption">In each of these tests you will find 15 multiple-choice questions about the different grammar points that you have studied for a specific level: A1, A2, B1, B1+ and B2.  You will get feedback for every answer.</div>
                                    <button class="btn" style="margin: 10px 20px;">
                                        <div class="btn-title">
                                            TAKE A TEST
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <div class="grid__column-3-3">
                                <div class="card">
                                    <img class="image" src="https://www.test-english.com/img/test-english-home-Writing.jpg" alt="">
                                    <h1 class="test-label">Writing</h1>
                                    <div class="test-desciption">Improve your writing with the exercises suggested in each lesson. Different types of texts for each level: A1, A2, B1, B1+, or B2. You will learn how to organise and connect the text in your compositions.</div>
                                    <button class="btn" style="margin: 10px 20px;">
                                        <div class="btn-title">
                                            GO TO THE LESSONS
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <div class="grid__column-3-3">
                                <div class="card">
                                    <img class="image" src="https://www.test-english.com/img/test-english-home-Level-test.jpg" alt="">
                                    <h1 class="test-label">Level Test</h1>
                                    <div class="test-desciption">If you are not sure about your level, don't worry, you can take this online test. There are 60 multiple-choice questions and there is no time limit. You will be able to see the answers when you finish the test.</div>
                                    <button class="btn" style="margin: 10px 20px;">
                                        <div class="btn-title">
                                            TAKE A LEVEL TEST
                                        </div>
                                    </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>

    <footer class="footer">
        <div class="social">
            <a href="facebook.com">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="twitter.com">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="instagram.com">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>

        <div class="info">
            <div class="list">
                <h2>Menu</h2>
                <a href="">
                    <div class="list-item">Grammar Points</div>
                </a>
                <a href="">
                    <div class="list-item">Listening tests</div>
                </a>
                <a href="">
                    <div class="list-item">Reading tests</div>
                </a>
                <a href="">
                    <div class="list-item">Use of English</div>
                </a>
                <a href="">
                    <div class="list-item">Writing</div>
                </a>
            </div>

            <div class="list">
                <h2>Levels</h2>
                <a href="">
                    <div class="list-item">A1 Elementary</div>
                </a>
                <a href="">
                    <div class="list-item">A2 Pre-intermediate</div>
                </a>
                <a href="">
                    <div class="list-item">B1 Intermediate</div>
                </a>
                <a href="">
                    <div class="list-item">B1+ Upper-intermediate</div>
                </a>
                <a href="">
                    <div class="list-item">B2 Pre-advanced</div>
                </a>
            </div>

            <div class="list">
                <h2>Links</h2>
                <a href="">
                    <div class="list-item">Homepage</div>
                </a>
                <a href="">
                    <div class="list-item">About us</div>
                </a>
                <a href="">
                    <div class="list-item">Grammar contents</div>
                </a>
            </div>

            <div class="list">
                <h2>Info</h2>
                <a href="">
                    <div class="list-item">Terms of Use</div>
                </a>
                <a href="">
                    <div class="list-item">Privacy Policy</div>
                </a>
                <a href="">
                    <div class="list-item">Cookie Policy</div>
                </a>
                <a href="">
                    <div class="list-item">Cookie Declaration</div>
                </a>
                <a href="">
                    <div class="list-item">Contact us</div>
                </a>
            </div>
        </div>

        <div class="copyright">
            <span>© 2021-2022 Copyright: Group10 All rights reserved</span>
        </div>
    </footer>
</body>
</html>