#header{
    
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #417690;
    
}

#site-name>a{
    color:#f5dd5d;
}
#site-name>a:hover{
    text-decoration: none;
}

#user{
    color: white;
}
#user>a{
    color: white;
    text-decoration: underline;
}
#main{
    background-color: black;
    height:100vh;
   
    color: white;
    padding: 10px 40px;
}
table{
    
    width: 50%;
    
}
table>caption{
    background-color:#264b5d;
    color: beige;
    caption-side:top;
    padding: 0px 10px;
}
table>tbody>tr{
    color: #417690;
    color: #81d4fa;
    
}
table>tbody>tr>td{
    width: 40%;
    text-align: right;
    padding: 0px 10px;
    color :#81d4fa
}
table>tbody>tr>td>a{
    color:#81d4fa;
}
table>tbody>tr>th>a{
    color:#81d4fa;
}
table>tbody>tr>th{
   
    text-align: left;
    padding: 0px 10px;
}
tr:nth-child(even) {
    background-color: #272727;
  }

