<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>English Test</title>

        <link rel="stylesheet" href="home.css" />
    </head>
    <body>
        <nav>
            <section>
                <a href="#"
                    ><img
                        src="../images/logo-test-english.svg"
                        alt="logo"
                        class="logo"
                /></a>
                <form>
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Google"
                        size="40"
                    />
                </form>
            </section>
            <section>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Why choose us?</a>
                    </li>
                    <li>
                        <a href="#">Exams and tests</a>
                    </li>
                    <li>
                        <a href="#">Learning English</a>
                    </li>
                    <li>
                        <a href="#">Teaching English</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Event</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                </ul>
                <img
                    class="banner"
                    src="../images/test-your-english-banner-2019.jpg"
                    alt="test your english"
                />
            </section>
        </nav>
        <section class="center">
            <h1>Test Your English</h1>
            <p class="content">
                We are Cambridge Assessment English. Part of the University of
                Cambridge, we help <br />
                millions of people learn English and prove their skills to the
                world.
            </p>
        </section>
        <section class="take-test center">
            <h1>
                Find out which Cambridge English exam may be best for you.
                <br />Take our quick, free online test.
            </h1>
            <section>
                <ul>
                    <li>
                        <a href="#" class="round-button">Beginner</a>
                        <button class="dark-btn">Begin test</button>
                    </li>
                    <li>
                        <a href="#" class="round-button">Intermediate</a>
                        <button class="dark-btn">Begin test</button>
                    </li>
                    <li>
                        <a href="#" class="round-button">Academic</a>
                        <button class="dark-btn">Begin test</button>
                    </li>
                </ul>
            </section>
        </section>
        <section class="column">
            <img src="../images/ap1.jpg" alt="image" />
            <section>
                <img src="../images/qualification.png" />
                <h3>Your path to learning English, step by step</h3>
                <p class="content block-content">
                    Cambridge English Qualifications are in-depth exams that
                    make learning English enjoyable, effective and rewarding.
                    Our unique approach encourages continuous progression with a
                    clear path to improve language skills. We have
                    qualifications for schools, general and higher education,
                    and business.
                </p>
                <button class="dark-btn">Learn more ></button>
            </section>
        </section>
        <section class="column flex-end">
            <section>
                <img src="../images/linguaskill.png" />
                <h3>Online English testing, simplified</h3>
                <p class="content block-content">
                    Linguaskill is a quick and convenient online test to help
                    higher education institutions and employers check the
                    English levels of individuals and groups of candidates. It
                    combines the latest technology with the reliability and
                    quality you expect from Cambridge.
                </p>
                <button class="dark-btn">Learn more ></button>
            </section>
            <img src="../images/ap3.jpg" alt="image" />
        </section>
        <section class="center">
            <p class="content">
                Please note: Test Your English is not a Cambridge English exam and
                the test scores and levels are very approximate. Your score on this
                test cannot be used as proof of a formal language qualification.
            </p>
        </section>
    </body>
</html>
